/OmniTask/nbproject/private/
OmniTask/nbproject/private/
/OmniTask/nbproject
OmniTask/nbproject
nbproject/
/build/
/dist/
*.properties
*.properties
./nbproject/project.properties
nbproject/project.properties
*.properties
*.properties
nbproject/project.properties
